{% extends 'base.html.twig' %}
{% block title %}{{ stage.sujet }}{% endblock %}
{% block body %}
 {% block nav %} {{include('admin/include/navbaradmin.html.twig')}} {% endblock %}
<div class="container">
 <h1>{{ stage.sujet }}</h1>
 <p>{{ stage.description }}</p>
 <hr>
 <a href="/admin">Go Back</a>
</div>
{% endblock %}